@import "../utilities/variables.scss";
@import "../views/responsive";
footer{
    background-color: $bg-footer;
    p{
        color: white;
        text-align: center;
        font-size: 1rem;
        padding: 3rem 0;
        margin-bottom: 0rem;
        /*<-------MQ------->*/
        @include tablet{
            font-size: 0.7rem;
        }
    }
}