@import "../utilities/variables";
/*------------------------------------------------------------------------------------------------*/
/*JUEGOS.HTML*/
.filajuego{
    margin-top: 2rem;
}
.infojuego{
    margin-bottom: 1rem;
    .game{
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #282535;
        border-radius: 5px;
        transform: skew(-4deg);
        text-decoration: none;
        color: white;
        img{
            margin-right: 8px;
        }
        span{
            font-size: .8rem;
            font-weight: 700;
        }
    }
    .game:hover{
        color: $color-hover;
    }
}
/*JUEGOS.HTML*/
/*------------------------------------------------------------------------------------------------*/