@import "../utilities/variables";
@import "../views/responsive";
.carousel-item{
    opacity: 0.5;
}
.tienda{
    background-color: $bg-SNoticia;
    &__contenedor{
        width: 100%;
        padding: 100px 15px;
        margin-left: auto;
        margin-right: auto;
        @include desktop-xl{
            max-width: 1150px;
        }
    }
    &__lista{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 2rem;
        list-style: none;
        &--items{
            background-color: #282535;
            padding: 0.6rem 1.4rem;
            margin: 0rem 0.2rem 0;
            font-size: .75rem;
            font-family: 'Noto Sans Display', sans-serif;
            font-weight: 700;
            letter-spacing: .07rem;
            border-radius: 3px;
            transform: skew(-4deg);
        }
        &--items:hover{
            background-color: white;
        }
        &--activo{
            background-color: $bg-hover;
        }
        &--activo:hover{
            background-color: $bg-hover;
        }
        &--enlace{
            text-decoration: none;
            color: white;
        }
        &--enlace:hover{
            color: black;
        }
        &--enlace-activo:hover{
            color: white;
        }
    }
}

.producto{
    &__contenedor{

        &--imagen{
            width: 100%;
            height: 15rem;
            border-radius: 3px;
            transform: skew(-2deg) scaleX(1.028);
            opacity: 0.5;
            margin: 0 0.5rem;
        }
        &--nombre{
            font-family: 'Noto Sans Display', sans-serif;
            font-weight: 500;
            font-style: italic;
            padding-top: 1rem;
        }
        &--precio{
            color: $bg-texto;
            font-weight: 700;
            font-size: 0.9rem;
        }
    }
    &__columna{
        padding: 1rem;
    }
}